@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  color-scheme: light dark;
  background-color: #fafafa;
}

.dark {
  background-color: #262626;
}

.available {
  animation: dot-glow 600ms infinite alternate;
}

@keyframes dot-glow {
  from {
    filter: drop-shadow(0px 0px 0px #4ade80);
  }
  to {
    filter: drop-shadow(0px 0px 6px #4ade80);
  }
}

/* Grainy texture animation by Geoff Graham https://css-tricks.com/snippets/css/animated-grainy-texture/ */

.page:before {
  animation: grain 8s steps(10) infinite;
  background-image: url(/assets/noise.png);
  content: "";
  height: 300%;
  left: -50%;
  opacity: 0.6;
  position: fixed;
  top: -100%;
  width: 300%;
  pointer-events: none;
}

@keyframes grain {
  0%,
  100% {
    transform: translate(0, 0);
  }
  10% {
    transform: translate(-5%, -10%);
  }
  20% {
    transform: translate(-15%, 5%);
  }
  30% {
    transform: translate(7%, -25%);
  }
  40% {
    transform: translate(-5%, 25%);
  }
  50% {
    transform: translate(-15%, 10%);
  }
  60% {
    transform: translate(15%, 0%);
  }
  70% {
    transform: translate(0%, 15%);
  }
  80% {
    transform: translate(3%, 35%);
  }
  90% {
    transform: translate(-10%, 10%);
  }
}

.link-arrow:before {
  content: "→";
  margin-right: 0.4rem;
  font-size: 1.2rem;
  -webkit-transition: transform 0.3s ease-out;
  -moz-transition: transform 0.3s ease-out;
  -ms-transition: transform 0.3s ease-out;
  -o-transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.link-arrow:hover::before {
  -webkit-transform: translateX(0.2rem);
  -moz-transform: translateX(0.2rem);
  -ms-transform: translateX(0.2rem);
  -o-transform: translateX(0.2rem);
  transform: translateX(0.2rem);
}

/* Swiper Override */

:root {
  --swiper-navigation-size: 1.5rem !important;
  --swiper-theme-color: rgb(57, 57, 57);
}

.dark {
  --swiper-theme-color: white;
}
